#login_box{
    background-color: rgb(48, 48, 48);
    margin-left: 650px;
    margin-top: 100px;
    height:800px;
    width: 550px;
    border-radius: 10px;
}
#title{
    color: red;
    margin-left: 265px;
    margin-top: -65px;
}
#welcome{
    margin-left: 90px;
}
#email_text{
    margin-left: 60px;
}
#password_text{
    Margin-left: 60px;
}
#text{
    height: 40px;
    width: 400px;
    margin-left: 60px;
    border-radius: 10px;
}
#forgot_pass{
    margin-left: 60px;
}
#login_button{
    margin-left: 100px;
    height: 60px;
    width: 330px;
}
#login_button:hover{
    background-color: rgb(148, 23, 23);
}
#sign_msg{
    margin-left: 60px;
}
hr{
    background-color: rgb(255, 0, 0);
}